.main {
  flex: 1 1;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  & > * {
    margin-bottom: 40px;
  }
}
.items-clmn {
  flex-direction: column;
}

.cards-block {
  display: flex;
  margin-left: 10px;
}

.html {
  fill: #e44d25;
}
.css {
  fill: #016eba;
}
.sass {
  fill: #cd689a;
}
.git {
  fill: #f03c2e;
}
